body{background: rgb(33,40,42);
  width: 100%; height: 100vh;
}
.my-head{
    position: fixed;
    top: -150px; left: -50px;
    width: 50%; height: 100vh;
  
  }

.skills{
  
    font-family: 'roboto', sans-serif;
    font-weight:10;
    height: inherit;
    width: 40%;
    position: absolute; top: 30px; left: 10%;
    padding-left: 100px;
    padding-bottom: 20px;
    z-index: 3;
}
.skills p{
  line-height: 30px;
  padding: 20px;
  text-align: justify;
}
.skills a{
  color: rgb(211, 253, 156);
}
.skills .html p,.skills .cpp p,.skills .java p,.skills .javascript p,.skills .photoshop p,.skills .css p,.skills .php p,.skills .python p,.skills .blender p{
  opacity: 0.8;
}

.skills .html{
  width: 400px;
  height: 500px;
  padding: 10px;
  color: white;
  border-radius: 5px;
  transition: 0.6s;
}
.skills .cpp{
  width: 400px;
  height: 500px;
  padding: 10px;
  color: white;
  border-radius: 5px;
  transition: 0.6s;
}
.skills .php{
  width: 400px;
  height: inherit !important;
  padding: 10px;
  color: white;
  border-radius: 5px;
  transition: 0.6s;
}
.skills .python{
  width: 400px;
  height: 500px;
  padding: 10px;
  color: white;
  border-radius: 5px;
  transition: 0.6s;
}
.skills .java{
  width: 400px;
  height: 500px;
  padding: 10px;
  color: white;
  border-radius: 5px;
  transition: 0.6s;
}
.skills .javascript{
  width: 400px;
  height: inherit !important;
  padding: 10px;
  color: white;
  border-radius: 5px;
  transition: 0.6s;
}
.skills .photoshop{
  width: 400px;
  height: 670px;
  padding: 10px;
  color: white;
  border-radius: 5px;
  transition: 0.6s;
}
.skills .css{
  width: 400px;
  height: inherit !important;
  padding: 10px;
  color: white;
  border-radius: 5px;
  transition: 0.6s;
}
.skills .blender{
  width: 400px;
  height: inherit !important;
  padding: 10px;
  color: white;
  border-radius: 5px;
  transition: 0.6s;
}
.skills .css .div{
  padding: 20px;
}

.skills .icon{
  font-size: 50px;

}

.box8{ 
  color: aliceblue;
  font-family: "gadugi", sans-serif; 
  width: 50px; height: 50px; 
  background: black; 
  box-shadow: 0px 0px 5px orange;
  text-align: center;
  padding: 5px; 
  border-radius: 5px;}
.box8 p{
  padding-top: 1px;
}
.box9 p{
  padding-top: 1px;
}
.box10 p{
  padding-top: 1px;
}
.box11 p{
  padding-top: 1px;
}
.box9{ 
  color: aliceblue;
  font-family: "gadugi", sans-serif; 
  width: 50px; height: 50px; 
  background: black; 
  box-shadow: 0px 0px 5px orange;
  text-align: center;
  padding: 5px; 
  border-radius: 5px;}
.box10 {
  color: aliceblue;
  font-family: "gadugi", sans-serif; 
  width: 50px; 
  height: 50px; 
  background: black; 
  box-shadow: 0px 0px 5px orange; 
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  transition-duration: 2s;
  transition-property: all;}
.box11 { color: aliceblue;
  font-family: "gadugi", sans-serif;
  width: 50px; 
  height: 50px; 
  background: black; 
  box-shadow: 0px 0px 5px orange; 
  z-index: 3; 
  text-align: center; 
  padding: 5px;border-radius: 5px;}

.box8{
  animation-delay: 1s;
  animation: box8 5s infinite forwards;
  transition-timing-function: cubic-bezier(0,.98,1,-0.02);}
@keyframes box8{
  0%{ background-color: black;}
  50%{
      border-radius: 50%; 
      transform: rotate(360deg);
      background-color: #ffa500;
      color: black;
      box-shadow: 0px 0px 5px black;}
  100%{ background-color: black;}
      }
.box9{
  animation-delay: 1s;
  animation: box9 5s infinite forwards;
  transition-timing-function: cubic-bezier(0,.98,1,-0.02);}
@keyframes box9{
  0%{ background-color: black;}
  50%{
      border-radius: 50%; 
      transform: rotate(360deg);
      background-color: #ffa500;
      color: black;
      box-shadow: 0px 0px 5px black;}
  100%{ background-color: black;}
      }
.box10{
  animation-delay: 2s;
  animation: box10 5s infinite forwards;
  transition-timing-function: cubic-bezier(0,.98,1,-0.02);}
@keyframes box10{
  0%{ background-color: black;}
  50%{ 
      border-radius: 50%; 
      transform: rotate(360deg);
      background-color: #ffa500; 
      color: black;
      box-shadow: 0px 0px 5px black;}
  100%{ background-color: black;}
      }
.box11{
  animation-delay: 3s;
  animation: box11 5s infinite forwards;
  transition-timing-function: cubic-bezier(0,.98,1,-0.02);}
@keyframes box11{
  0%{ background-color: black;}
  50%{
      border-radius: 50%; 
      transform: rotate(360deg);
      background-color: #ffa500;
      color: black;
      box-shadow: 0px 0px 5px black;}
  100%{ background-color: black;}
      }

.photoshopImg .img1{
  padding-right: 35px;

}


.skills .skilltext {
  transform: scale(1.2);
  display: flex;
  position: fixed; top: 30px; left: 80px;
  border-radius: 5px;
  opacity: 0.8;
  z-index: 3;
}
.skills .skilltext .texts{
  display: flex;
  padding-right: 5px;
}

.skills .skilltext .text1 h1:hover{
  transform: scale(1.5);
  color:  cyan;
}
.anim{
  opacity: 0;
}

@keyframes anim1{
  from{
    transform: translateX(-100px);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }

}

.guide{
  position: fixed; bottom: 0;right: 0;
  z-index: 12;
  text-align: left;
 line-height: 0px;
}
.guide h5{
  color: cyan;
}
.guide li{
  padding-right: 30px;
  font-size: 12px;
  line-height: 16px;
  opacity: 0.8;
}

@media (max-width: 991px){
    body{
      display: block;
      overflow-x: hidden;
    }
    .navigator{
      z-index: 10 !important; 

    }
  .skills{
      position: absolute; left: -15%;  top: 20%;
      display: block;
      flex-direction: column;
      width: 90%;
  }
  .skilltext{
    transform: scale(0.5);
  }
  .anim{
    padding-top: 200px;
    position: relative; left: 0%;
    width: 65%;
  }
  .anim p, .anim a{
    position: relative; left: 0%;
    width: 80%;
  }
  .anim a{
    position: relative; left: 0%;
    font-size: 14px;
  }
  .guide{
    opacity: 0;
  }
  .photoshopImg img{
    width:  180px;
  }
  #appear_image_div {
    width: 100%; 
    height: 100%; 
    position: sticky;
    top: 0px; 
    opacity: 0.5; 
    background: #d8d8d8;
    z-index: 5; 
    }
    #appear_image_div:before{
        content: "X"; 
        position:sticky; right: 20px !important; top: 10px;
        color: black; 
        font-family: "gadugi", sans-serif;
        font-size: 30px;
        font-weight: bolder;
        background: ivory; border-radius: 50%; padding-left: 10px; padding-right: 10px; padding-bottom: 5px;
        opacity: 1;

    }
    #appear_image {
        position: sticky; 
        top: 20px; right: 0;
        width: 100%;
        height: 90%;
        z-index: 6; 
    }

}

.container{
  width: 360px;
  background-color: rgba(8, 8, 8, 0.2);
  border-radius: 10px;
  padding: 10px;
}


.box{
  list-style: none;
  padding: 0;
  margin: 0;
}
.box li h5{
  margin-bottom: 10px;
}
.bar{
  height: 18px;
  background-color: burlywood;
  margin-bottom: 15px;
  border-radius: 15px;
}

.bar::before{
  content: "";
  background-color: burlywood;
  display: inline-block;
  padding: 8px;
  border-radius: inherit;
  animation: load 3s 0s;
  -webkit-animation: load 3s 0s;
  -moz-animation: load 3s 0s;
  -o-animation: load 3s 0s;
}

@keyframes load{
  from{
    width: 0%;
  }
}
@-webkit-keyframes load{
  from{
    width: 0%;
  }
}
@-moz-keyframes load{
  from{
    width: 0%;
  }
}
@-o-keyframes load{
  from{
    width: 0%;
  }
}

.bar.bar1::before{
  width: calc(50% - 10px);
}
.bar.bar2::before{
  width: calc(60% - 10px);
}
.bar.bar3::before{
  width: calc(90% - 10px);
}
.bar.bar4::before{
  width: calc(80% - 10px);
}
.bar.bar5::before{
  width: calc(30% - 10px);
}
.bar.bar6::before{
  width: calc(40% - 10px);
}
.bar.bar7::before{
  width: calc(50% - 10px);
}
.bar.bar8::before{
  width: calc(30% - 10px);
}
.bar.bar9::before{
  width: calc(45% - 10px);
}